/*Formulaire de connexion composant*/
#cardConnexion
{
    width:400px;
}

/* Responsive */
@media (max-width: 768px) {
    .container-vibe {
        flex-direction: column-reverse;
        align-items: center;
    }

    .card {
        margin-top: 30px;
        width: 90%; 
    }

    .vibe-side-text {
        max-width: 100%;
        text-align: center;
    }

    .vibe-title {
        font-size: 2rem;
    }

    .vibe-subtext {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 15px;
    }

    .vibe-title {
        font-size: 1.8rem;
    }

    .vibe-subtext {
        font-size: 0.8rem;
    }
}