/*Formulaire de connexion composant*/
#cardConnexion
{
    width:400px;
}

.card .btn-secondary { /* Bouton de création d'un nouveau compte */
    background-color: #757575;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.card .btn-secondary:hover { /*Bouton de création d'un nouveau compte hover*/
    background-color: #616161; 
    transform: scale(0.98);
}

/* Responsive */
@media (max-width: 768px) {
    .container-vibe {
        flex-direction: column-reverse;
        align-items: center;
    }

    .card {
        margin-top: 30px;
        width: 90%; /* S'adapte à la largeur de l'écran */
    }

    .vibe-side-text {
        max-width: 100%;
        text-align: center;
    }

    .vibe-title {
        font-size: 2rem;
    }

    .vibe-subtext {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 15px;
    }

    .vibe-title {
        font-size: 1.8rem;
    }

    .vibe-subtext {
        font-size: 0.8rem;
    }
}