

.card { /* Boîte contenant les éléments de connexion */
    padding: 3px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-right: 60px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card .form-control {
    border-radius: 7px;
    border: 1px solid #c1c1c1;
    font-size: 1rem;
    padding: 12px;
    transition: border-color 0.3s ease;
}

.card .form-control:focus {
    border-color: #f44336; 
    box-shadow: 0 0 5px rgba(244, 67, 54, 0.5);
}

.card .btn-danger { /* Bouton */
    background-color: #f44336;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.card .btn-danger:hover {
    background-color: #d32f2f; 
    transform: scale(0.98); 
}


.card hr {
    margin: 20px 0;
    border: 1px solid #ddd;
}
