.card { /* Boîte contenant les éléments de connexion */
    padding: 3px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-right: 60px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card hr {
    margin: 20px 0;
    border: 1px solid #ddd;
}
