#cardInscription{
    width: 600px;
}

.conteneurNom{
    display: flex;
    flex-direction: row;
    gap: 10px; 
}

#titreFormulaire{
    text-align:center;
    border-bottom:1px solid #a4a4a4;
    padding-bottom: 15px;
}

@media (max-width: 668px)
{
    .card{
        width:400px;
    }
}