.custom-navbar {
  background-color: #000 !important;
  box-shadow: none;
}

.custom-navbar-brand {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  font-size: 2.5rem;
  font-family: Cursive, sans-serif;
}

#logo{
  color: red;
}

#nomUtilisateur
{
  color:white;
  font-size:20px;
}