/* Texte de description */
.vibe-side-text {
    max-width: 300px;
    text-align: left;
    color: #333;
}

.vibe-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.vibe-subtext {
    font-size: 1rem;
    color: #fefefe;
    line-height: 1.5;
}
